.topic1
h1
{
font-size: 80px;
font-family: Impact;
}

.topic1
p{
    font-size: 35px;
}

.topic2
button
{
    width: 250px;
    height: 80px;
    background-color: rgb(24, 98, 119);
    color: white;
    
}

.topic2
button:hover
{
    background-color: rgb(43, 196, 234);
    color: white;

}

